out
src/main/org/x96/sys/foundation/cs/lexer/visitor/entry/terminals/**/*.java
src/test/org/x96/sys/foundation/cs/lexer/visitor/entry/terminals/**/*.java
build
build.xml
lib
manifest.mf
nbproject
src/main/org/x96/sys/foundation/BuildInfo.java
tools
*.jar
